.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.contact-list {
  width: 50%;
  height: 100px;
  margin: 0;
  margin-left: 20%;
  list-style-type: none;
  text-align: center;
}

.contact-list-item {
  padding: 20px 100px;
  background: #f55555;
  display: flex;
  margin: 15px 0;
  color: white;
}

.contact-avatar {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-contact {
  width: 50%;
  padding: 20px 20px 20px 60px;
  /*background-image: url('./icons/search.svg');*/
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
  border-bottom: 5px solid #ccc;
}

.showing-contacts {
  text-align: center;
  margin: 20px 0;
}
.showing-contacts button {
  color: #0abab5;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.contact-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  border: 0;
  color: white;
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.add-contact {
  background-color: #f55555;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 10px 17px;
  text-decoration: none;
}
